/*PROPRIETES GENERALES*/
*
{ 
    box-sizing: border-box;
    font-family: 'Raleway';
}

body
{
    margin-left: 5%;
    margin-right: 5%;
}



/*PROPRIETES DU HEADER*/
nav
{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 10px;
}

nav ul
{
    display:flex;
    list-style: none;
}

nav img
{
    width: 7%;
    height: 7%;
}

nav li
{
    margin-right: 50px;
    
}

a 
{
    text-decoration: none;
}

nav li a
{
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}


nav a:hover
{
    border-top: 2px #0065FC solid;
}

.menu-hebergements
{
    color:#0065FC;
    height:100px;
    padding-top: 50px; /*Pour que le trait bleu ne soit pas collé à hébergements et activités au survol*/
    padding-bottom: 25px;
}

.menu-activites
{
    color:black;
    padding-top: 50px;
    padding-bottom: 25px;
}

/*PROPRIETES DES PREMIERS TITRES*/

h1, h3
{
    font-size: 20px;
    font-weight: bold;
}

#petit-titre
{
    font-size: 16px;
    margin-top: -5px;
}

/*PROPRIETES DU FORMULAIRE*/
form
{
    display: flex;
    font-size: 16px;
}

form i
{
    padding: 15px 20px;
    background-color: #f2f2f2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

form input
{
    font-weight: bold;
    border: #f2f2f2;
    padding: 15px 20px;
}

form button
{
    background-color: #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 15px 20px;
    color:white;
    border:none; /*Enlever l'effet relief derrière le bouton*/
}

.fa-solid.fa-magnifying-glass
{
    display: none; /* Icone qui apparait uniquement pour mobile*/
}

/*PROPRIETES DES FILTRES*/

#bloc-filtres
{
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 16px;
    flex-wrap: wrap;
    margin: 20px 0px 20px 0px;

}

#bloc-filtres h2
{
    font-size: 16px; /* Déjà configuré dans l'id bloc-filtres au dessus mais il est trop gros*/
    margin-top: 20px; /* pour qu'il soit aligné avec les écritures et non avec les bulles comme demandé plus haut*/
}

.filtres i
{
    color:#0065FC;
    background-color: #DEEBFF;
    padding: 15px;
    border-radius: 50%;
    margin: -2px; /*afin que les icones ressortent légèrement et ne laissent ps voir la bordure du texte si l'on zoome*/
}

.filtres .familial /*icone initialement différente des autres*/
{
    padding-right: 18px;
    padding-left: 18px; 
}

.filtres span
{
    font-weight: bold;
    padding:20px 25px 20px 10px;
}

.filtres:hover
{
    background-color: beige;
}

.filtres
{
    border: 2px lightgray solid;
    border-radius: 30px;
    margin-top: 10px;
}

.tous-filtres
{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

#phrase-info
{
    display:flex;
    align-items: center;
    margin: 30px 10px;
}

#phrase-info p
{
    font-size: 15px;
    margin-left: 10px;
}

#phrase-info i
{
    color:white;
    background-color: #0065FC;
    border-radius: 50%;
}

/*PROPRIETES HEBERGEMENTS ET POPULAIRES*/

main
{
    width: 100%;
}

section
{
    display: flex;
    gap:30px;
    
}
article, aside
{
    background-color: #f2f2f2;
    border-radius: 15px;
    height: 100%;
    padding: 10px 30px 30px 30px;
}

article
{
    display: flex;
    flex-direction: column;
    flex-basis:70%;
    flex-wrap: wrap;
}

aside
{
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    flex-wrap: wrap;
}

#afficher-plus
{
    font-size: 11px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 20px;
}

/*CARTES HEBERGEMENT*/

#bloc-hebergements
{
    display: flex;
    justify-content: space-around;
    gap: 25px;
    flex-wrap: wrap;
}

#bloc-hebergements a
{
    text-decoration: none;
    color:black;
}

.carte-modele
{
    display: flex;
    flex-direction: column;
    width: 30%;
    height:190px;
    margin: 0.2px;
    background-color: white;
    border-radius: 18px;
    padding: 5px;/* mettre un espace blanc autour de l'image et du texte*/
    box-shadow: 1px 1px 5px #999;

}

.carte-modele img
{
    border-radius: 15px 15px 0 0;
    width: 100%;
    justify-items: center;
    height: 100px;
    object-fit: cover;
}

.carte-modele p
{
    margin: 7px;
}

.titre-auberge
{
    font-size: 15px;
    font-weight: bold;
}

.nuits
{
    font-size: 13px;
}

.etoiles, .etoiles-populaires
{
    font-size: 11px;
}
.bleue
{
    color:#0065FC
}

.gris-clair
{
    color: gray;
    opacity: 0.8;
}

.noir
{
    color:black;
}

/* CARTES POPULAIRES*/

.titre-etoile
{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.carte-modele-populaires
{
    display: flex;
    width: 90%;
    height:130px;
    margin: 0.2px;
    background-color: white;
    border-radius: 18px;
    padding: 5px; /* mettre un espace blanc autour de l'image et du texte*/
    box-shadow: 1px 1px 5px #999;
}

.carte-modele-populaires img
{
    border-radius: 15px 0px 0 15px;
    width: 110px;
    height: 100%;
    object-fit: cover;
}

#bloc-populaires 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 25px;
}

#bloc-populaires a
{
    text-decoration: none;
    color:black;
}

.carte-modele-populaires p
{
    margin: 7px;
}

.etoiles-populaires
{
    position: relative;
    bottom: -40px;
}

.titre-hotel
{
    font-size: 15px;
    font-weight: bold;
}

/*PROPRIETES DES ACTIVITES*/

.bloc-activites
{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    flex-basis: 100%;
    margin-bottom: 50px;
}

.titre-activites
{
    font-size: 16px;
    font-weight: bold;
    color: black;
    padding-left: 5%;
}

.activites
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 440px;
    flex-wrap: wrap;
    
}

.vieux-port, .calanques
{

    width: 22%;
    height: 440px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px #999;
    margin-right: 4%;
}

.vieux-port img, .calanques img
{
    width:100%;
    height: 390px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}


.fort-pomegues
{
    width: 22%;
    height: 220px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px #999;
    margin-right: 4%;
}

.fort-pomegues img
{
    width:100%;
    object-fit: cover;
    height: 180px;
    border-radius: 15px 15px 0 0;
}


.iles-frioul
{
    width: 22%;
    height: 160px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px #999;
}

.iles-frioul img
{
    width: 100%;
    object-fit: cover;
    height: 120px;
    border-radius: 15px 15px 0 0;
}


.dame-garde
{
    width: 22%;
    height: 200px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px #999;
}

.dame-garde img
{
    width:100%;
    object-fit: cover;
    height: 160px;
    border-radius: 15px 15px 0 0;
}


.longchamp
{
    width: 22%;
    height: 200px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px #999;
}

.longchamp img
{
    width: 100%;
    object-fit: cover;
    height: 160px;
    border-radius: 15px 15px 0 0;
}


/*FOOTER*/

footer
{
    background-color:#f2f2f2;
}

#bloc-footer
{
    display: flex;
    gap: 25%;
    padding: 20px 40px;
}


h4
{
    font-size: 16px;
    font-weight: bold;
}

footer ul
{
    list-style: none;
    padding-left: 0px;
}

footer li
{
    font-size: 15px;
    color: black;
    margin: 10px 0px;
}

footer a
{
    color: black;
}



